<!DOCTYPE html>
<html ng-app="TEC2WEB" lang="en">
<head>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- Stylesheets -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/owl.carousel.css">
    <link rel="stylesheet" href="/styles/jquery-ui.css">
    <title>TEC2FLY</title>

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jquery-ui.css">
    <link rel="stylesheet" href="/styles/owl.carousel.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
      <!--[if IE 9]>
    <script src="js/media.match.min.js"></script>
    <![endif]-->
</head>

  <body>
    <%- body %>

    <!-- Dependencies SCRIPTS-->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <!-- Angular Scripts -->
    <script src="/js/app/Controllers/indexController.js"></script>
    <script src="/js/app/Services/dataAccess.js"></script>
    <script src="/js/app/route.js"></script>
    <!-- Template Scripts -->
    <script src="/js/template/jquery-2.1.4.min.js"></script>
    <script src="/js/template/scripts.js"></script>
    <script src="/js/template/owl.carousel.min.js"></script>
    <script src="/js/template/jquery.easing.min.js"></script>
    <script src="/js/template/jquery.ba-outside-events.min.js"></script>
    <script src="/js/template/jquery.ui.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
